
<ul class="items">
    <li>
        @Html.ActionLink("Mouse Move", "MouseMove", "Admin", new { Area = "Orchard.RxJS" }, new { Class = "button" })
    </li>
    <li>
        @Html.ActionLink("Dictionary Suggest", "DictionarySuggest", "Admin", new { Area = "Orchard.RxJS" }, new { Class = "button" })
    </li>
</ul>