<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.5.2" />
  <package id="RxJS-Aggregates" version="2.0.20327-beta" />
  <package id="RxJS-All" version="2.0.20327-beta" />
  <package id="RxJS-Bridges-jQuery" version="1.0.10621.2" />
  <package id="RxJS-Coincidence" version="2.0.20327-beta" />
  <package id="RxJS-Experimental" version="2.0.20327-beta" />
  <package id="RxJS-JoinPatterns" version="2.0.20327-beta" />
  <package id="RxJS-Main" version="2.0.20327-beta" />
  <package id="RxJS-Testing" version="2.0.20327-beta" />
  <package id="RxJS-Time" version="2.0.20327-beta" />
</packages>